@tailwind base;
@tailwind components;
@tailwind utilities;

/* width */
::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #c2c2c2;
  border-radius: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/* Vessel shape using the correct polygon */
.vessel-shape {
  width: 16px;
  height: 16px;
  background-color: currentColor;
  clip-path: polygon(0% 20%, 50% 20%, 50% 20%, 80% 50%, 50% 80%, 50% 80%, 0% 80%);
}

.circle {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: currentColor;
}
