@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Gabarito', 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell',
    'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* width */
::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #c2c2c2;
  border-radius: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

@layer base {
  .blue-btn {
    @apply bg-blue-800 hover:bg-blue-700 border-2 transition-all border-blue-700 px-2 py-1 rounded-md text-white;
  }
  .small-blue-btn {
    @apply bg-blue-800 hover:bg-blue-700 border-2 transition-all border-blue-700 px-1 py-1 text-sm rounded-md text-white;
  }
  .input-field {
    @apply bg-gray-600 rounded-md outline-none focus:outline-blue-700;
  }
}
